## Lesson 1.4 - Independant Practice

Here's the situation - your working with a Postgre Database at a large wine distributor who needs you to maintain their database. You'll use some of your advanced SQl skills to take care of customer cases. Let's begin! 

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [ ]:
# !pip uninstall psycopg2
# !conda install psycopg2
# !pip install ipython-sql

In [35]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import psycopg2

Connect to the database. Note - enter your own connection string. For help on how to load the raw CSV file into a Postgre database, please refer to the documenatation in the lesson plan on previous SQL lessons.

Create your database in postrgres:
```bash
psql
```
```
user=# create database wine
user=# \quit
```

In [161]:
PATH = '../../assets/datasets'
df = pd.read_csv(PATH + '/wine.csv')
df.columns = [c.lower().replace(' ','') for c in df.columns] #postgres doesn't like capitals or spaces

In [162]:
df.columns

Index([u'fixedacidity', u'volatileacidity', u'citricacid', u'residualsugar',
       u'chlorides', u'freesulfurdioxide', u'totalsulfurdioxide', u'density',
       u'ph', u'sulphates', u'alcohol', u'quality'],
      dtype='object')

In [ ]:
engine =

Select all of the wines that have an alcohol content above 10 and create a new column `high_alc` where 1 denotes an alcohol content > 10. Otherwise the value should be `NULL`

Someone decided that they wanted to purchase *all* of these high alcohol wines for their resteraunts, so make sure to mark them as *sold*. Your predicesor forgot to add a column for *sales date*, so you will have to add this in to the database table as well.

Set their sale date to today

Select all of the wines with high alcohol

Now, for our analysis we want to take a look at all the high quality wines. Select the wines with ratings above 7 and save the result as a pandas dataframe

But wait! You just recieved a call that we not only want to view high quality wines, but we want to see high quality wines with low acidity and medium alcohol content. Remember, we cannot include the wines already sold in this query.

Lastly, we want to round the density column to two variables within the database.

**BONUS**: Continue to transform the data within the SQL database using the CASE, scalar and CONCAT functions discussed in lecture