# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../assets/billboard.csv')

# Look for signs that the student has investigated the dataframe from multiple dimensions. 
#Here are a few examples of things they should be looking at.
df.columns

df['year'].unique()

df.dtypes

df.time.mean

df.apply(lambda x: pd.lib.infer_dtype(x.values))

year                integer
artist.inverted      string
track                string
time                 string
genre                string
date.entered         string
date.peaked          string
x1st.week           integer
x2nd.week          floating
x3rd.week          floating
x4th.week          floating
x5th.week          floating
x6th.week          floating
x7th.week          floating
x8th.week          floating
x9th.week          floating
x10th.week         floating
x11th.week         floating
x12th.week         floating
x13th.week         floating
x14th.week         floating
x15th.week         floating
x16th.week         floating
x17th.week         floating
x18th.week         floating
x19th.week         floating
x20th.week         floating
x21st.week         floating
x22nd.week         floating
x23rd.week         floating
                     ...
x47th.week         floating
x48th.week         floating
x49th.week         floating
x50th.week         floating
x51st.week         floating
x52nd.week         floating
x53rd.week         floating
x54th.week         floating
x55th.week         floating
x56th.week         floating
x57th.week         floating
x58th.week         floating
x59th.week         floating
x60th.week         floating
x61st.week         floating
x62nd.week         floating
x63rd.week         floating
x64th.week         floating
x65th.week         floating
x66th.week         floating
x67th.week         floating
x68th.week         floating
x69th.week         floating
x70th.week         floating
x71st.week         floating
x72nd.week         floating
x73rd.week         floating
x74th.week         floating
x75th.week         floating
x76th.week         floating
dtype: object

##### Create a data dictionary for the data set.

Variable | Description | Type of Variable
---| ---| ---
Year| Year the track was charted | ordinal
Artist.Inverted | Artist name | categorical
Track | Track name | categorical
Time | Track time in m:ss format | ordinal
Genre | Musical classification | categorical
Date.entered | Date the track entered the charts | ordinal
Date.Peaked | Date the track peaked on the charts | ordinal
x1st.week ... x76th.week | Chart ranking by week for the track | continuous

##### Write a brief description of your data, and any interesting observations you've made thus far.

In [29]:
# Expect the student to describe the data, relationships between columns, notes on the shape, etc.

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, fill in any missing values.

In [2]:
# Here are some of the more obvious/accessible cleaning you can expect from the students. 
# This is not exhaustive, but is enough to get through the project.

# Rename artist.inverted to artist
df.rename(columns={'artist.inverted': 'artist'}, inplace=True)

# Remove all non-ascii characters
import re
df['artist'] = df['artist'].apply(lambda x: re.sub(r'[^\x00-\x7f]',r'',x))
df['track'] = df['track'].apply(lambda x: re.sub(r'[^\x00-\x7f]',r'',x))

# Rename week columns
ranks = [i for i in range(1,77)]
names = ['week' + str(i) for i in ranks]
col_names = np.append(df.columns[0:7].values, names)
df.columns=col_names.tolist()

# Shorten track names that are too long
df.track = df.track.apply(lambda x: x[:20])

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [4]:
destiny = df.iloc[0:1]

In [5]:
destiny.values

array([[2000, "Destiny's Child", 'Independent Women Pa', '3:38', 'Rock',
        '2000-09-23', '2000-11-18', 78, 63.0, 49.0, 33.0, 23.0, 15.0, 7.0,
        5.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0,
        3.0, 7.0, 10.0, 12.0, 15.0, 22.0, 29.0, 31.0, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan]], dtype=object)

,year,artist,track,time,genre,date.entered,date.peaked,week1,week2,week3,...,week67,week68,week69,week70,week71,week72,week73,week74,week75,week76
0,2000,Destiny's Child,Independent Women Pa,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns[7:]
df = pd.melt(df, id_vars=df.columns[:7].values, var_name='week', value_name='rank').dropna(subset=['rank'])
df.sort_values(by=['year','artist','track'])

,year,artist,track,time,genre,date.entered,date.peaked,week,rank
246,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week1,87.0
563,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week2,82.0
880,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week3,72.0
1197,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week4,77.0
1514,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week5,87.0
1831,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week6,94.0
2148,2000,2 Pac,Baby Don't Cry (Keep,4:22,Rap,2000-02-26,2000-03-11,week7,99.0
287,2000,2Ge+her,The Hardest Part Of,3:15,R&B,2000-09-02,2000-09-09,week1,91.0
604,2000,2Ge+her,The Hardest Part Of,3:15,R&B,2000-09-02,2000-09-09,week2,87.0
921,2000,2Ge+her,The Hardest Part Of,3:15,R&B,2000-09-02,2000-09-09,week3,92.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week1,81.0
341,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week2,70.0
658,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week3,68.0
975,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week4,67.0
1292,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week5,66.0
1609,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week6,57.0
1926,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week7,54.0
2243,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week8,53.0
2560,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week9,51.0
2877,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week10,51.0
3194,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week11,51.0
3511,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week12,51.0
3828,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week13,47.0
4145,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week14,44.0
4462,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week15,38.0
4779,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week16,28.0
5096,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week17,22.0
5413,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week18,18.0
5730,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week19,18.0
6047,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,week20,14.0
...,...,...,...,...,...,...,...,...,...
2868,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week10,12.0
3185,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week11,8.0
3502,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week12,6.0
3819,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week13,1.0
4136,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week14,2.0
4453,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week15,3.0
4770,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week16,2.0
5087,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week17,2.0
5404,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week18,3.0
5721,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week19,4.0
6038,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week20,5.0
6355,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week21,4.0
6672,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week22,4.0
6989,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week23,6.0
7306,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week24,9.0
7623,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week25,12.0
7940,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week26,13.0
8257,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week27,19.0
8574,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week28,20.0
8891,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week29,20.0
9208,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week30,24.0
9525,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week31,29.0
9842,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week32,28.0
10159,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week33,27.0
10476,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week34,30.0
10793,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week35,33.0
11110,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week36,37.0
11427,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week37,38.0
11744,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week38,38.0
12061,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,week39,48.0

## Step 3: Visualize your data.

##### Using a plotting utility of your choice, create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

In [ ]:
# Students should be building histograms to investigate distribution, box plots to determine ranges and identify outliers, and scatter plots to analyse relationships. 
# Expect thorough analyses of the graphs, written eloquently.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

In [ ]:
# You should expect students to lay out their plans for organizing and mutating the data, all the way through presenting results. 
# A good answer should be at least 5 bullet points, written in complete sentences.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for roughly 500 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.